<head>
    <% include partials/head %>
</head>

<p> We are investigating how people judge musical performances, and in particular how much they rely on visual vs. aural information. </p>

<p> In this experiment you will first judge performances by three separate pianists in audio recordings. Then you will judge three more pianists playing the same piece in silent videos. Please watch/listen to each excerpt a single time and then answer the questions to the best of your ability, given the limited information available. </p>


<ul>
    <% for(var i=0; i<links.length; i++) { %>
        <li>
            <audio controls>
            <source src="<%= links[i] %>"" type="audio/wav">
                
            </audio>
        </li>
    <% } %>
</ul>

<br><br>


Please indicate which of the three you believe to be the best overall performance, based on the excerpt you've seen.
<% include partials/bodyQuestions %>

<input type="checkbox" name="checkbox" value="check" id="agree" /> I have completed this portion of the experiment faithfully, and am ready to submit and move to part 2 <br>

<input type='submit' value='Submit responses'>
</form>
