<head>
    <% include partials/head %>
</head>

<p> Please listen to the remaining three pianists, once, in order and answer the questions below to the best of your ability, given the limited information available. Note that these three are NOT the same as in part 1.  </p>



<ul>
    <% for(var i=0; i<links.length; i++) { %>
        <li>
            <audio controls>
            <source src="<%= links[i] %>"" type="audio/wav">
             Your browser does not support the audio tag. Use a real browser!   
            </audio>
        </li>
    <% } %>
</ul>

<br><br>


Please indicate which of the three you believe to be the best overall performance, based on the excerpt you've heard. 

<% include partials/bodyQuestions2 %>

<input type="checkbox" name="checkbox" value="check" id="agree" /> I have completed part 2 of the experiment faithfully, and this is the only time I have completed the experiment for this excerpt <br>

<input type='submit' value='Submit responses'>
</form>



