<head>
    <% include partials/head %>
</head>

<p> First you will judge performances by three separate pianists playing the same excerpt in audio recordings. Then you will judge three more pianists playing the same excerpt in silent videos. Please watch/listen to each excerpt a single time and then answer the questions to the best of your ability, given the limited information available. </p>


<ul>
    <% for(var i=0; i<links.length; i++) { %>
        <li>
        Pianist #<%= i %> <br>
            <audio controls>
            <source src="<%= links[i] %>"" type="audio/wav">
                Your browser doesn't seem to support the audio tag. Use chrome or firefox!
            </audio>
        </li>
    <% } %>
</ul>

<br><br>


Please indicate which of the three you believe to be the best overall performance, based on the excerpt you've seen.
<% include partials/bodyQuestions %>

<input type="checkbox" name="checkbox" value="check" id="agree" /> I have completed this portion of the experiment faithfully, and am ready to submit and move to part 2 <br>

<input type='submit' value='Submit responses'>
</form>
