<h1><hello!></h1>
<% console.log(links) %>
<ul>
    <% for(var i=0; i<links.length; i++) { %>
        <li>
            <iframe width='200' height='200' src='<%= links[i] %>' frameborder='0'>
                
            </iframe>
        </li>
    <% } %>
</ul>