<head>
    <% include partials/head %>
</head>

<p> First, you will judge these performances of the same excerpt by three pianists in silent videos. Then you will judge three more pianists playing the same excerpt in audio recordings. Please watch/listen to each excerpt a single time and then answer the questions below to the best of your ability, given the limited information available. </p>


<ul>    
    <% for(var i=0; i<links.length; i++) { %>
        <li>
        Pianist #<%= i + 1 %> <br>
            <video width="890" height="500" controls>
                <source src="<%= links[i] %>" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </li>
    <% } %>
</ul>


<br><br>


Please indicate which of the three you believe to be the best overall performance, based on the excerpt you've seen.
<% include partials/bodyQuestions %>

<input type="checkbox" name="checkbox" value="check" id="agree" /> I have completed this portion of the experiment faithfully, and am ready to submit and move to part 2 <br>

<input type='submit' value='Submit responses'>
</form>



